/*<!DOCTYPE html>
<html>
  <head>
    <meta charset="ISO-8859-1" />
    <title>Test</title>
  </head>
  <body>
    
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h1>Login</h1>
    <form method="post" action=".">
      <input type="hidden" name="csrfmiddlewaretoken" value="CJPVSC50mVjLkSiDqfAGlyc8yCAxnkR3Mt1o6GJJFJB0KKAD1ucKeJupWwEuMxVH"> 

<div id="div_id_username" class="control-group"> <label for="id_username" class="control-label requiredField">
                Username<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" class="textinput textInput" required id="id_username"> </div> </div> <div id="div_id_password" class="control-group"> <label for="id_password" class="control-label requiredField">
                Password<span class="asteriskField">*</span> </label> <div class="controls"> <input type="password" name="password" autocomplete="current-password" class="textinput textInput" required id="id_password"> </div> </div>


      <input
        class="btn btn-block btn-primary"
        type="submit"
        value="Submit"
      />
      <input type="hidden" name="next" value="" />
    </form>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-sm-6 col-sm-offset-3 text-align-center">
    <p>
      Forgot password?
      <a href="/accounts/password/reset/">Reset it</a>!
    </p>
    <p>
      Not member?
      <a href="/accounts/register/">Register</a>!
    </p>
  </div>
</div>


  </body>
</html>*/
.col-sm-offset-3 {
  margin: 0 auto;
}
label {
  color: brown;
}
.col-sm-6 {
  color: aqua;
}
