body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

table,
th,
td {
  font-family: Montserrat;
  font-weight: 500;
  padding: 4px;
}
th {
  font-family: RobotoCondensed;
}
.quiz-main {
  margin-top: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quiz-question {
  font-weight: bolder;
  font-family: "Quicksand", sans-serif;
  color: rgb(67, 154, 224);
  padding-top: 15px;
  font-size: 1.2rem;
  padding-bottom: 20px;
}
.choice-head,
.answer-head {
  font-family: "Quicksand";
  font-weight: bolder;
}
.choice-head {
  color: rgb(211, 78, 78);
}

.answer-head {
  color: rgb(47, 255, 127);
}
.display-score {
  margin-top: 50px;
  text-align: center;
  color: rgb(14, 238, 33);
}

.quiz-choice-display,
.quiz-answer-display {
  font-family: "Quicksand";
  font-size: 1.2rem;
  padding-left: 1.3em;
}

footer {
  margin-top: 70px;
}
