{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="icon"
      type="image/ico"
      href="{%static 'images\logo-main.png'%}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EcoSpectre | Quiz</title>
    <link rel="stylesheet" href="{%static 'style/news_navbar_style.css'%}" />
    <link rel="stylesheet" href="{%static 'style/footer_style.css'%}" />
    <link rel="stylesheet" href="{%static 'style/quiz_style.css'%}" />

    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:wght@800&family=Secular+One&display=swap"
      rel="stylesheet"
    />

    <script type="text/javascript">
      function preventBack() {
        window.history.forward();
      }
      setTimeout("preventBack()", 0);
      window.onunload = function () {
        null;
      };
    </script>

    <style>
      .quiz-main {
        padding-left: 4px;
        padding-left: 4px;
      }
      .quiz-image {
        margin-top: 2px;
        margin-bottom: 2px;
      }
      .q-image {
        border: #a09f9f 14px solid;
        min-width: 20%;
        max-width: 40%;
      }
    </style>
  </head>
  <body>
    <header>
      <div class="container-nav">
        <img class="logo-main" src="{%static 'images/logo-main.png'%}" alt="" />
        <nav class="site-nav">
          <ul>
            <li>
              <a href="/"><i class="fa fa-home site-nav--icon"></i> Home</a>
            </li>
            <li>
              <a href="/about"
                ><i class="fa fa-info site-nav--icon"></i>About</a
              >
            </li>
            <li>
              <a href="/kids-zone"
                ><i class="fa fa-gamepad site-nav--icon"></i>Kids Zone</a
              >
            </li>
            <li>
              <a href="/contact-us"
                ><i class="fa fa-envelope site-nav--icon"></i>Contact</a
              >
            </li>
            <li>
              <a href="/accounts/logout" class="nav-bottom"
                ><i class="fa fa-sign-out site-nav--icon last-item"></i
                >Logout</a
              >
            </li>
          </ul>
        </nav>
        <div class="menu-toggle">
          <div class="hamburger"></div>
        </div>
      </div>
    </header>
    <div class="quiz-main">
      <form id="quiz" action="/quiz_result/" method="POST">
        {%csrf_token%}
        <table>
          {% for i in quiz %}
          <tr>
            <td class="quiz-question">{{i.id}}. {{i.question}}</td>
          </tr>
          <tr>
            <td class="quiz-option">
              <input
                type="radio"
                id="{{i.id}}"
                name="{{i.id}}"
                value="{{i.option1}}"
              />
              <label for="{{i.option1}}">{{i.option1}}</label>
            </td>
          </tr>
          <tr>
            <td class="quiz-option">
              <input
                type="radio"
                id="{{i.id}}"
                name="{{i.id}}"
                value="{{i.option2}}"
              />
              <label for="{{i.option2}}">{{i.option2}}</label>
            </td>
          </tr>
          <tr>
            <td class="quiz-option">
              <input
                type="radio"
                id="{{i.id}}"
                name="{{i.id}}"
                value="{{i.option3}}"
              />
              <label for="{{i.option3}}">{{i.option3}}</label>
            </td>
          </tr>
          <tr>
            <td class="quiz-option">
              <input
                type="radio"
                id="{{i.id}}"
                name="{{i.id}}"
                value="{{i.option4}}"
              />
              <label for="{{i.option4}}">{{i.option4}}</label>
            </td>
          </tr>
          {%endfor%}
        </table>
        <center>
          <button type="submit" class="myButton">Submit</button>
        </center>
      </form>
    </div>

    <script src="{%static 'script/script.js'%}"></script>
    <footer>
      <div class="footer-container">
        <h2>EcoSpectre</h2>
        <p>Copyright 2020</p>
      </div>
    </footer>
  </body>
</html>
